src/__debug_*.*
src/__debug_bin*
build/digests-api
build/*
build/macos/digests-api
src/build/digests-api-linux-amd64
src/build/*.*
src/build
src/tmp/*
src/tmp
src/tmp/main.exe
src/concatenated_output.txt
src/concatenated_output.txt
